extends layout
block content
    table
        tr
            th Version
            td 0.0.0
        tr
            th PID
            td=process.pid
        tr
            th Chrome Version
            td=chromeVersion