extends layout

block content
  h1 Overview
  h2 Active Assets
  table
    tr
      th Name
      th URL
      th Display Time
      th
    each site in sites
      tr
        td=site.description
        td=site.url
        td=site.time + " sec"
        td
          .button-group
            form(action="/action/delete/"+site.description method="post")
              input(type="submit" name="delete" value="Delete")
            button Edit
    tr
      form(action="/action/add" method="post")
        td
          input(type="text" name="description" value="")
        td
          input(type="text" name="url" value="http://")
        td
          input(type="text" name="time" value="")
        td
          input(type="submit" Value="Add")