extends layout

block content
  h1 Control
  h2 Direct Control
  .button-group
    button#btnprevious Previous
    button#btnplay Play
    button#btnstop Stop
    button#btnnext Next  
  h1 Schedule
  h2 Active Assets
  table
    tr
      th Name
      th URL
      th Display Time
      th
    each site in sites
      tr
        td(data-id=site.id contenteditable="true" onfocus="saveValue(this)" onblur="edit('description',this)")=site.description
        td(data-id=site.id contenteditable="true" onfocus="saveValue(this)" onblur="edit('url',this)")=site.url
        td
          span(data-id=site.id contenteditable="true" style="padding-right:0" onfocus="saveValue(this)" onblur="edit('time',this)")=site.time
          = " seconds"
        td
          form(action="/action/delete/"+site.id method="post")
            input(type="submit" name="delete" value="Delete")
    tr
      form(action="/action/add" method="post")
        td
          input(type="text" name="description" value="")
        td
          input(type="text" name="url" value="http://" style="width:95%")
        td
          input(type="text" name="time" value="")
        td
          input(type="submit" Value="Add")
  script(src="/lib/jquery/jquery.min.js")
  script(src="/javascripts/index.js")