doctype html
html
  head
    title= 'Chrote - ' + title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a(href="/")
        h1 Chrote
      a(href="/about")
        h1 About
    .main
      block content
